In [3]:
%pip install pandera

# Why DataValidation?

The role of the Data Validation step in a MLOps system is pivotal. It ensures that the data entering the system adheres to predefined formats and properties, thereby safeguarding the integrity of the entire system. By validating the data prior to its integration, the system can detect and reject any invalid or erroneous data, preventing it from compromising the performance or functionality of the MLOps pipeline. This proactive approach not only maintains the quality of the data but also enhances the reliability and efficiency of the overall system.

# What is pandera ?

At this step, we need to validate the data frame values by using [pandera](https://pandera.readthedocs.io/en/stable/). What can pandera do with?
- Check types and properties of columns in pd.DataFrame or values in pd.Series.
- Perform hypothesis testing.
- Define a Schema one and use it to validate different dataframe types.

This example demonstrates how to use pandera schema to validate a data frame.

In [ ]:
import pandas as pd
import pandera as pa
from pandera.typing import Series

In [20]:
# Step 1: Define a simple schema over column 1.
simple_schema = pa.DataFrameSchema({
    "column1": pa.Column(
        int, pa.Check(lambda x: 0 <= x <= 10, element_wise=True,
                   error="range checker [0, 10]"))
})

# Step 2: Validation rule violated over df
df = pd.DataFrame({
    "column1": [-20, 5, 10, 30],
})

simple_schema(df)

SchemaError: Column 'column1' failed element-wise validator number 0: <Check <lambda>: range checker [0, 10]> failure cases: -20, 30

If we change the value of `column 1` in range `[0, 10]`, then no validation showing.

In [24]:
# Step 2: Validation rule violated over df
df = pd.DataFrame({
    "column1": [1, 5, 10, 10],
})

simple_schema(df)

   column1
0        1
1        5
2       10
3       10

# Validate formats and values by pandera

In [42]:
train = pd.read_csv("../raw_data/train.csv")
test = pd.read_csv("../raw_data/test.csv")
print(train.shape, test.shape)

(42100, 19) (28068, 18)

In [26]:
train.head()

,id,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,0,2,0,0,2,1,0,0,9,2018,1,14,1,1,11,0,67.50,0,0
1,1,2,0,1,2,0,0,0,117,2018,7,29,0,0,0,0,72.25,0,0
2,2,2,0,0,1,0,0,0,315,2018,12,2,0,0,0,0,52.00,0,0
3,3,1,0,0,2,1,0,0,32,2018,12,1,1,0,0,0,56.00,0,0
4,4,2,0,1,0,0,0,0,258,2018,10,16,0,0,0,0,100.00,0,1

In [27]:
train.describe()

,id,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
count,42100.000000,42100.000000,42100.000000,42100.000000,42100.000000,42100.000000,42100.000000,42100.000000,42100.000000,42100.000000,42100.000000,42100.000000,42100.000000,42100.000000,42100.000000,42100.000000,42100.000000,42100.000000,42100.000000
mean,21049.500000,1.920713,0.141093,0.884632,2.398005,0.239192,0.025249,0.428931,103.888029,2017.856295,7.593539,15.902945,0.728504,0.029192,0.019715,0.175772,104.566377,0.571734,0.392019
std,12153.367503,0.524950,0.450128,0.885693,1.427330,0.587674,0.156884,0.832605,81.069343,0.350795,2.829395,8.888582,0.633529,0.168347,0.325837,1.732121,37.139165,0.775041,0.488207
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2017.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,10524.750000,2.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,37.000000,2018.000000,6.000000,8.000000,0.000000,0.000000,0.000000,0.000000,80.000000,0.000000,0.000000
50%,21049.500000,2.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,93.000000,2018.000000,8.000000,16.000000,1.000000,0.000000,0.000000,0.000000,99.450000,0.000000,0.000000
75%,31574.250000,2.000000,0.000000,2.000000,3.000000,0.000000,0.000000,1.000000,155.000000,2018.000000,10.000000,24.000000,1.000000,0.000000,0.000000,0.000000,123.300000,1.000000,1.000000
max,42099.000000,4.000000,9.000000,7.000000,17.000000,3.000000,1.000000,6.000000,443.000000,2018.000000,12.000000,31.000000,4.000000,1.000000,13.000000,58.000000,540.000000,5.000000,1.000000

In [28]:
class SchemaTrain(pa.DataFrameModel):
    id: Series[int] = pa.Field(nullable=False)
    no_of_adults: Series[int] = pa.Field(nullable=False)

In [29]:
SchemaTrain(train)

,id,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,0,2,0,0,2,1,0,0,9,2018,1,14,1,1,11,0,67.50,0,0
1,1,2,0,1,2,0,0,0,117,2018,7,29,0,0,0,0,72.25,0,0
2,2,2,0,0,1,0,0,0,315,2018,12,2,0,0,0,0,52.00,0,0
3,3,1,0,0,2,1,0,0,32,2018,12,1,1,0,0,0,56.00,0,0
4,4,2,0,1,0,0,0,0,258,2018,10,16,0,0,0,0,100.00,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42095,42095,3,0,0,4,0,0,1,160,2018,12,30,1,0,0,0,140.00,2,1
42096,42096,2,0,0,3,0,0,0,34,2017,9,23,0,0,0,0,224.67,0,0
42097,42097,2,0,0,2,2,0,0,292,2018,7,21,0,0,0,0,96.00,0,0
42098,42098,1,0,0,3,0,0,0,5,2018,11,9,0,0,0,0,120.00,0,0
42099,42099,2,0,1,1,0,0,1,40,2017,10,26,0,0,0,0,65.00,0,0

In [30]:
class SchemaTrain(pa.DataFrameModel):
    id: Series[int] = pa.Field(nullable=False)
    no_of_adults: Series[int] = pa.Field(nullable=False)
    @pa.check("no_of_adults")
    def check_lte_4(cls,col):
        return col<=4

In [31]:
SchemaTrain(train)

,id,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,0,2,0,0,2,1,0,0,9,2018,1,14,1,1,11,0,67.50,0,0
1,1,2,0,1,2,0,0,0,117,2018,7,29,0,0,0,0,72.25,0,0
2,2,2,0,0,1,0,0,0,315,2018,12,2,0,0,0,0,52.00,0,0
3,3,1,0,0,2,1,0,0,32,2018,12,1,1,0,0,0,56.00,0,0
4,4,2,0,1,0,0,0,0,258,2018,10,16,0,0,0,0,100.00,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42095,42095,3,0,0,4,0,0,1,160,2018,12,30,1,0,0,0,140.00,2,1
42096,42096,2,0,0,3,0,0,0,34,2017,9,23,0,0,0,0,224.67,0,0
42097,42097,2,0,0,2,2,0,0,292,2018,7,21,0,0,0,0,96.00,0,0
42098,42098,1,0,0,3,0,0,0,5,2018,11,9,0,0,0,0,120.00,0,0
42099,42099,2,0,1,1,0,0,1,40,2017,10,26,0,0,0,0,65.00,0,0

In [44]:
class SchemaTrain(pa.DataFrameModel):
    # Define class attirbutes' types
    id: Series[int] = pa.Field(nullable=False)
    no_of_adults: Series[int] = pa.Field(nullable=False)
    no_of_children: Series[int] = pa.Field(nullable=False)
    no_of_weekend_nights: Series[int] = pa.Field(nullable=False)   
    no_of_week_nights: Series[int] = pa.Field(nullable=False)
    type_of_meal_plan: Series[int] = pa.Field(nullable=False)
    required_car_parking_space: Series[int] = pa.Field(nullable=False)
    room_type_reserved: Series[int] = pa.Field(nullable=False)
    lead_time: Series[int] = pa.Field(nullable=False)
    arrival_year: Series[int] = pa.Field(nullable=False)
    arrival_date: Series[int] = pa.Field(nullable=False)
    market_segment_type: Series[int] = pa.Field(nullable=False)
    repeated_guest: Series[int] = pa.Field(nullable=False)
    no_of_previous_cancellations: Series[int] = pa.Field(nullable=False)
    no_of_previous_bookings_not_canceled: Series[int] = pa.Field(nullable=False)
    avg_price_per_room: Series[float] = pa.Field(nullable=False)
    no_of_special_requests: Series[int] = pa.Field(nullable=False)
    booking_status: Series[int] = pa.Field(nullable=False)

    # Define validation rule for each column
    @pa.check("no_of_adults")
    def check_lte_4(cls,col):
        return col<=4
    
    @pa.check('type_of_meal_plan')
    def check_lte_3(cls, col):
        return col<=3
    @pa.check('required_car_parking_space')
    def check_lte_1(cls,col):
        return col<=1
    @pa.check('booking_status')
    def check_lte_1_bs(cls,col):
        return col<=1

class SchemaTest(SchemaTrain):
    @classmethod
    def to_schema(cls) -> pa.DataFrameSchema:
        return super().to_schema().remove_columns(["booking_status"])

In [40]:
SchemaTrain(train)

,id,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,0,2,0,0,2,1,0,0,9,2018,1,14,1,1,11,0,67.50,0,0
1,1,2,0,1,2,0,0,0,117,2018,7,29,0,0,0,0,72.25,0,0
2,2,2,0,0,1,0,0,0,315,2018,12,2,0,0,0,0,52.00,0,0
3,3,1,0,0,2,1,0,0,32,2018,12,1,1,0,0,0,56.00,0,0
4,4,2,0,1,0,0,0,0,258,2018,10,16,0,0,0,0,100.00,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42095,42095,3,0,0,4,0,0,1,160,2018,12,30,1,0,0,0,140.00,2,1
42096,42096,2,0,0,3,0,0,0,34,2017,9,23,0,0,0,0,224.67,0,0
42097,42097,2,0,0,2,2,0,0,292,2018,7,21,0,0,0,0,96.00,0,0
42098,42098,1,0,0,3,0,0,0,5,2018,11,9,0,0,0,0,120.00,0,0
42099,42099,2,0,1,1,0,0,1,40,2017,10,26,0,0,0,0,65.00,0,0

In [45]:
SchemaTest(test)

,id,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests
0,42100,3,0,1,4,0,0,1,111,2018,12,5,1,0,0,0,115.60,2
1,42101,2,0,0,3,0,0,0,22,2017,10,21,0,0,0,0,85.00,0
2,42102,2,2,0,1,0,0,3,18,2018,8,10,1,0,0,0,240.00,1
3,42103,2,0,0,3,0,0,0,88,2018,5,30,0,0,0,0,80.75,0
4,42104,1,0,0,2,2,0,0,7,2018,9,21,1,0,0,0,144.00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28063,70163,2,0,1,2,0,0,0,315,2018,9,30,1,0,0,0,160.00,0
28064,70164,2,0,2,2,0,0,0,81,2018,3,25,0,0,0,0,65.00,1
28065,70165,2,0,1,2,0,0,0,40,2018,10,22,0,0,0,0,85.00,0
28066,70166,3,0,0,4,0,0,1,4,2018,9,6,1,0,0,0,162.75,0
28067,70167,2,0,2,3,0,0,0,191,2018,8,28,1,0,0,0,84.31,0